<ion-content>
  <div class="user-box">
    <ion-avatar class="user-avatar">
      <img src="assets/icon/bts1.jpg">
    </ion-avatar>
    <div class="user-infro">
      <div class="user-nickname">吴楚滢</div>
      <div class="user-username">simida.wu</div>
      <span class="user-position">助理工程师</span>
    </div>
  </div>
  <div class="menu-box">
    <ion-card class="card-list">
      <ion-card-content>
        <ion-thumbnail slot="start" class="card-list-icon">
          <ion-img src="assets/icon/scan.png"></ion-img>
        </ion-thumbnail>
        <span>扫一扫</span>
        <ion-img class="card-list-btn" src="assets/icon/next.png"></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-card class="card-list">
      <ion-card-content>
        <ion-thumbnail slot="start" class="card-list-icon">
          <ion-img src="assets/icon/setting.png"></ion-img>
        </ion-thumbnail>
        <span>设置</span>
        <ion-img class="card-list-btn" src="assets/icon/next.png"></ion-img>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- <ion-card class="card-list" style="border-radius: 10px !important;margin-top: 1rem !important;">
        <ion-item href="#">
          <ion-thumbnail slot="start">
            <ion-img src="assets/icon/scan.png"></ion-img>
          </ion-thumbnail>
          <ion-label>扫一扫</ion-label>
        </ion-item>
        <ion-item href="#">
            <ion-thumbnail slot="start">
              <ion-img src="assets/icon/setting.png"></ion-img>
            </ion-thumbnail>
            <ion-label>设置</ion-label>
          </ion-item>
      </ion-card> -->
</ion-content>